.form__botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  color: var(--verde-petroleo);
  background-color: var(--verde-destaque);
  width: 100%;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: none;
  font-family: var(--fonte);
  font-size: 18px;
  font-weight: 600;
  margin: 2em 0;
  cursor: pointer;
}

.form__botao::after {
  content: ' ';
  width: 25px;
  height: 20px;
  background-image: url('/img/flecha.svg');
  background-repeat: no-repeat;
  background-size: 1em;
}