.form__botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  color: var(--verde-petroleo);
  background-color: var(--verde-destaque);
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: var(--fonte);
  font-size: 1.125rem;
  font-weight: 600;
  margin: 2em 0;
  cursor: pointer;
}

.form__botao::after {
  content: ' ';
  width: 1.5625rem;
  height: 1.25rem;
  background-image: url('/img/flecha.svg');
  background-repeat: no-repeat;
  background-size: 1em;
}