.container-links__link {
  color: var(--verde-destaque);
  font-size: 1.125rem;
  text-decoration: none;
}

.container-links__link::after {
  display: inline-block;
  content: ' ';
  width: 1.875rem;
  height: 1.25rem;
  background-image: url('../img/prancheta.svg');
  background-repeat: no-repeat;
  background-position: center;
}